body {
 font-family: poppins;
 margin: 0;
}
footer{
  background-color: #134742;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  border: 1px solid #00ffe4;
  margin: 20px;
  justify-items: center;
  box-shadow: 0 5px 8px 5px #888;
}
form input, textarea{
  margin: 10px;
  width: 90%;
  height: 30px;
  padding: 5px 8px;
}
h3{
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.cta{
  width: 93%;
  background-color: #1bebb7;
  text-transform: uppercase;
  height: 39px;
}
.holder{
  display: flex ;
  justify-content: center;
}
.holder .home{
  width: 30%;
  background-color: #568b7e;
  height: 85vh;
  border-radius: 8px;
}
.home .prof{
  height: 120px;
  width: 120px;
  background-color: #fff;
  margin-top: 12px;
  border-radius: 50%;
  margin-left: 144px;
}
.home .icons{
  justify-content: space-between;
  margin-left: 35%;
}
.home .icons i{
  color:#fff;
  margin: 10px;
}
.home .txt{
  text-align: center;
  text-transform: uppercase;

}
.holder .cover{
  width: 75%;
  background-color: #134742;
  height: 85vh;
  border-radius: 8px;
  margin-left: -14px;

}
.cover-text {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}


.container{
  display: flex;
  justify-content: space-between;
  background-color:#00ffe4 ;
}
.container ul{
  list-style: none;
  display: flex;
}
.container ul li{
  margin: 10px;
  text-transform: uppercase;

}
















.icon{
  background-image: linear-gradient(to right, #00ffe4, #00ff23);
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: 600;
  height: 120px;
  justify-content: center;
  align-items: center;
padding: 0;
}
.icon p{
  margin-left: 19%;
}
.wrapper{
  display: flex;
}
.card{
  height: 440px;
  width: 400px;
  background-color: #1bebb7;
  text-align: center;
}
.title{
  text-align: center;
  text-transform: uppercase;
  background-color: #00ffe4;
}
